<DOCTYPE html>
<html>
    <head>
        <title>Craig Pirrall - Full Stack Developer</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Caveat:700" rel="stylesheet">
        <script src="https://use.fontawesome.com/22d5991346.js"></script>
        
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
       
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                    crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
        <script type="text/javascript" src="/scripts/script.js"></script>   
        
    </head>
    <body>
    
        <nav class="navbar navbar-default" id="navbarTop">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarLinks" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a class="navbar-brand" href="/">Craig Pirrall</a>-->
                </div>
                <div class="collapse navbar-collapse" id="navbarLinks">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/home#samples">Samples</a></li>
                        <li><a href="/home#about">About</a></li>
                        <li><a href="/home#contact">Contact</a></li>
                        <% if(currentUser && currentUser.username === "Craig") { %>
                            <li><a href="/new">New Project</a></li> 
                        <% }; %>
                    </ul>

                </div>
            </div>
        </nav>
        
        <div class="container">
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>  
            <% }; %>
            <% if(success && success.length > 0) { %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>            
            <% }; %>
        </div>

