body {


}

/* top navbar */
#navbarTop { 
    background-color: #e7e8dc; 
    border: none;
}

.navbar-nav {
    display:table;
    width:100%;
    margin: 0 0 0 -3%;
}
.navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
    font-size: 2em;
    
}

#navbarTop a { 
    color: black;
    
}

/* BOTTOM NAVBAR */
span > a {
    text-align:center;
    font-size: 2em;
    vertical-align: middle;
    line-height: 75px;
    
}


#titleBox {
    height: 100vh;
    margin-top: -82px;
    background-image: url("http://imgur.com/gXNHEOi.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

#meTitle {
    color: #e7e8dc;
    font-size: 8em;
    text-align: center;
    font-family: 'Caveat', cursive;
    margin: 25vh auto 0 auto;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, .6), 
                 6px 6px 5px rgba(0, 0, 0, .6);
}

#titleBox h2 {
    color: #e7e8dc;
    font-size: 5em;
    text-align: center;
    font-family: 'Caveat', cursive;
    margin: 0 auto 25vh auto;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, .6), 
                 6px 6px 5px rgba(0, 0, 0, .6);
}

#scrollDown {
    font-size: 15em;
    display: block;
    text-align: center;
    color: #e7e8dc;
    opacity: .4;
    animation: fade 2s linear;
    -webkit-animation-delay: 2s; 
    animation-delay: 1.5s;
}

@keyframes fade {
  0% { opacity: .4 }
  40%,60% { opacity: 1 }
  100% {opacity: .4; }
}

#mePic {
    width: 20vw;
    border-radius: 50%;
    display: block;
    margin: 2em auto 1em auto;
    border: solid white 3px;
}

.contactIcons:hover { color: #c6c6c4; }

.contactIcons {
    font-size: 10em;
    display: block;
    text-align: center;
    color: #e7e8dc;
    margin-bottom: .5em;
    
}

a:hover { 
    text-decoration: none;
    font-weight: bolder;
    font-style: italic;
}

/*================
    SECTIONS
================*/

.sections h1 {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 7em;
    margin: 2em auto 1em auto;
}

.sections p { font-size: 3em; }

/*=======================
    PROJECTS / SAMPLES
=========================*/

.inlineButtons {
    margin: 0 0 1em 0;
}

.thumbContainer { 
    display: flex;
    flex-wrap: wrap;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
    background-color: #e7e8dc;
    color: black;
}

.nohover:not(nohover):hover {
    font-weight: normal;
    font-style: normal;
}

.thumbnail .caption-full {
    padding: 2em;
}

a.thumbnail {border: solid 1px white; }

.captions { 
    padding: 1em; 
    font-size: 2.5em;
}

hr { 
    border: none;
    background-color: #c6c6c4;
    height: 3px;
}

li > a { text-align:  right }



/* MEDIUM BREAKPOINT */
@media only screen and (min-width: 992px) {
    #meTitle {
        font-size: 8em;
        margin: 20vh auto .25em auto;
        text-shadow: 5px 5px 3px rgba(0, 0, 0, .6), 
                     10px 10px 7px rgba(0, 0, 0, .6);
    }
    
    #titleBox h2 { 
        font-size: 5em;
        text-shadow: 5px 5px 3px rgba(0, 0, 0, .6), 
                     8px 8px 6px rgba(0, 0, 0, .6);
        
    }
    
    /* Projects */
    .captions { 
        font-size: 1em;
    }
}

